:root{
    background: rgb(24,85,23);
background: linear-gradient(0deg, rgba(24,85,23,1) 75%, rgba(253,187,45,1) 100%);
}
header {
    position:sticky;
    display:block;
    top: 1%;
    padding: 4px 10px;
    background-color: #556B2F;
    box-shadow: 0 0 3px 3px;   
    text-align: center;
    
}
header h2{
    font-family: Gill Sans, sans-serif;
    font-style: normal;
    font-weight: 800;
    color: #B8860B;
}
header nav a{
    font-family: Gill Sans, sans-serif;
    font-style: italic;
    font-weight: 600;
    color: #B8860B;
    text-decoration: none;
}
div{
    background-color:#556B2F;
    margin: 3% 5% 3% 5%;
    border-radius: 10px;
    box-shadow: 0 0 4px 4px black;
    padding: 3%;
    display: block;


}
div img {
    max-height: 500px;
    max-width: 300px;
    width: auto;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px black;
    margin-left: 32%;

}
div p{
   font-family: URW Chancery L, cursive;
   font-style: oblique;
   font-weight: 600;
   color: black;
}
div h2{
    font-family: Gill Sans, sans-serif;
    font-style: normal;
    font-weight: 800;
    color: #B8860B;
    font-stretch:extra-expanded;
}
main article{
    background-color:#556B2F;
    margin: 3% 5% 3% 5%;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 0 0 4px 4px black;
    padding: 3%;
    display: block;
}
main article h1{
    font-family: Gill Sans, sans-serif;
    font-style: normal;
    font-weight: 800;
    color: #B8860B;
    font-stretch:extra-expanded;
}
main article p{
    font-family: URW Chancery L, cursive;
   font-style: oblique;
   font-weight: 600;
   color: black;
}
main section a{
    font-family: URW Chancery L, cursive;
}
a:link{
    text-decoration: none;
    font-family: URW Chancery L, cursive;
    color: #B8860B;
}
a:visited{
    color: #B8860B;
}
main section{
    font-family: URW Chancery L, cursive;
    color: black;
}
footer{
    font-family: URW Chancery L, cursive;
    color: black;
    justify-content: space-between;
    display: flex;
}